body {
	font-family: Roboto Slab;
}

@font-face {
	font-family: myFont;
	src: url("public/fonts/Arvo-Regular.ttf");
}

.fa-btn {
	margin-right: 6px;
}
.breadcrumb{
	padding:10px !important;
}
.btn-bc{
	margin-top: -6px !important;
}
.no-padding{
	padding:0;
	margin:0;
}
.chosen-container .chosen-results li.disabled-result{
	color:#FFFFFF!important;
	display:none!important;
	height:0px!important;
}
.chosen-container .chosen-results li.disabled-result:hover{
	color:#FFFFFF!important;
	display:none;
	height:0px!important;
}

.modal-footer, .modal-header{
	background:#F8F8F8!important;
}

.loader {
	margin: auto !important;
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid blue;
	border-right: 16px solid green;
	border-bottom: 16px solid red;
	border-left: 16px solid pink;
	width: 120px;
	height: 120px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

.content-hide {
	/*visibility: hidden !important;*/
	display: none !important;
}

.content-show {
	/*visibility: visible;*/
	display: inline !important;
}



